langchain
langchain-community
langchain-openai
langchain-core
langchain-aws
langchain-google-vertexai
langchain_text_splitters
boto3
sqlalchemy
python-dotenv
fastapi
psycopg2-binary
pgvector
uvicorn
pypdf
unstructured
markdown
networkx
pandas
openpyxl
docx2txt
pypandoc
PyJWT
asyncpg
python-multipart
sentence_transformers
aiofiles
rapidocr-onnxruntime
opencv-python-headless
pymongo
langchain-mongodb
langchain-ollama
langchain-huggingface
cryptography
python-magic
python-pptx
xlrd
pydantic
redis
requests